@import "../../../../partials/manifest.scss";

.Select {
  padding: 1rem;
  background-color: white;
  font-size: 1.2rem;
  font-family: $select-font;
  min-width: 45%;
}

@media (max-width: 626px) {
  .Select {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}
