.Checkbox {
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 1rem;
}

.radio-container {
  // white-space: nowrap;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 30px);
}

.Checkbox__label {
  display: inline-block; /* Display label inline */
  vertical-align: middle; /* Align label vertically */
  width: calc(100% - 30px); /* Adjust label width to accommodate checkbox */
}
